/* css style sheet for module 47*/ 	
header{
    background-color:#D95019;
    color:white;
    font-family:OmnesCyrillic;
    border-radius: 10px;
    font-size: 60px;
    text-align: center;
    border: 2px solid white;
}

body{
    background-color: #073C62;
}

.productinfo{
    font-family:OmnesCyrillic;
    text-align: center;
    text-decoration: underline;
    color:white;
    font-size:50px;
}


img{
    border-radius: 50%;
    border: 2px solid white;
    float:right;
}



h3{
    display:block
}
input[type=button], input[type=submit], input[type=reset] {
    background-color:#D95019;
    border-radius: 10px;
    padding: 15px 32px;
    border-color:none;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family:OmnesCyrillic;
    height:200px;
    width:200px;
    margin-left:120px;
}
input, label {
    font-size: 90px;
    font-family:OmnesCyrillic;
    color: white;
}

