/* css style sheet for module 5 */ 	
 
html{
    background-image:url('starsky.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}

h3{
    display:block
}


.container1{
    width: 40%;
    height: 300px;
    float: left;
}

.container2{
    width: 40%;
    height: 300px;
    float: right;
}

.container3{
    width:40%;
    height:300px;
    float:left;
}

.container4{
    width: 40%;
    height: 300px;
    float: right;
}
.container5{
    width: 40%;
    height: 100px;
    margin-left:275px;
}
.button {
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Ariel;
  }
.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 40%;
	margin-top:0px;
    height:490px;
    width: 350px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.starfloating1 {
	animation-name: starfloating1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	float:left;

}

@keyframes starfloating1 {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.starfloating2 {
	animation-name: starfloating2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	float:right;
  
}

@keyframes starfloating2 {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.starfloating3 {
	animation-name: starfloating2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
    margin-right: 60%;
	margin-bottom:40px;
   
    position: relative;
}

@keyframes starfloating3 {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.starfloating4 {
	animation-name: starfloating2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	float:right;
  
}

@keyframes starfloating4 {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}